h1 {
    display: flex; justify-content: center;
    color: rgb(201, 105, 8);
}
.pic {width:60px
 }
 .pluto{color: rgb(189, 142, 67);}
 body{
    background-color: rgb(189, 142, 67);
 }
html {background-color: rgb(189, 142, 67);}
.nav { background-color: rgb(189, 142, 67);
      color: aqua;}
button {
     border-color:  rgb(162, 137, 35);
     margin:5px;
    background-color: rgb(166, 121, 49);
     }
  .bun {  display: flex; justify-content: space-around;
   background-color:rgb(209, 160, 81) }
.selected {width: 70
}   
p { width: 33%;
color: rgb(145, 76, 7);}
.pic2 {width:65px
 } 
 .pic3 {width: 150;
position: fixed;
top: 155
}
.yt { display: flex; justify-content: center;}
h4 {color: rgb(145, 76, 7);}
footer {background-color:rgb(209, 160, 81);
   position: fixed;
bottom: 45
    }
    h3{color: rgb(123, 63, 3);}
    h2{color:rgb(145, 76, 7);}
    .meow { position: fixed;
     bottom: 10px;
     right: 10px;
    width: 50px;}